Repository reuters-graphics/bluprint_graphics-kit: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: npx eslint --cache --fix {staged_files}

prettier:
  run: npx prettier --write {staged_files}

bump deps
  package.json
  pages/embed-previewer/+page.svelte
  pnpm-lock.yaml
Due: prettier

update tests
  test/build.test.ts
Due: none

more test fixes
  test/build.test.ts
Due: none

embed previewer
  pages/embed-previewer/+page.svelte
Due: prettier

scripts order
  package.json
Due: none

pin svelte to 5.20.5. issue forthcoming
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: none

closes #179. Fixes RNGS git commit. Adds storyboard log. Fixes mod project-type templates.
  .bluprintrc
  bin/mods/project-type/templates/embed-only/+page.svelte
  bin/mods/project-type/templates/embed-only/publisher.config.ts
  bin/mods/project-type/templates/page+embed/+page.svelte
  bin/mods/project-type/templates/page+embed/embeds/en/page/+page.svelte
Due: prettier

Create .gitkeep
  project-files/.gitkeep
Due: none

edit template
  project-files/ai2html.ait
Due: none

remove project-files from export ignore
  .gitattributes
Due: none

fix docs file refs in embed template
  bin/mods/project-type/templates/embed-only/publisher.config.ts
Due: none

add embeds metadata pointer for byline
  bin/mods/project-type/templates/embed-only/publisher.config.ts
Due: none

closes #183
  .gitattributes
Due: none

closes #184
  bin/mods/make-ai-embed/templates/+page.svelte
Due: prettier

storyboard logs. closes #185
  .bluprintrc
Due: none

remove gitkeep that wasn't necessary
  project-files/.gitkeep
Due: none

adds upload:quick command and cleans scripts up
  package.json
Due: none

updates publisher
  bin/mods/project-type/templates/embed-only/publisher.config.ts
  package.json
  pnpm-lock.yaml
  publisher.config.ts
Due: none

closes #191
  .bluprintrc
  bin/mods/index.ts
  bin/mods/rngs-io/index.ts
  bin/mods/rngs-io/templates/+layout.ts
Due: none

fix unconfir-rngs-io call
  .bluprintrc
Due: none

try pnpm
  .bluprintrc
  .vscode/settings.json
  package.json
Due: none

supress too many dependency warnings
  svelte.config.js
Due: eslint, prettier

closes #196
  bin/mods/make-ai-embed/index.ts
  bin/mods/make-ai-embed/templates/+page.server.ts
  bin/mods/make-ai-embed/templates/+page.svelte
Due: prettier

docs(changeset): Fixes a bug on embeds where metadata was being lost on dotcom, closing #196.
  .changeset/young-donuts-knock.md
Due: prettier

adds savile. closes #199
  docs/content/docs/Developers/09-page-assets.mdx
  package.json
  pnpm-lock.yaml
Due: none

docs(changeset): Adds Savile for resizing, optimising or reformating images.
  .changeset/two-bears-reflect.md
Due: prettier

bump publisher
  package.json
  pnpm-lock.yaml
Due: none

bumps transitive dependencies
  pnpm-lock.yaml
Due: none

fix #205
  pages/embeds/en/page/+page.svelte
Due: prettier

bumps publisher and adds nofollow tag to page embed
  package.json
  pages/embeds/en/page/+page.svelte
  pnpm-lock.yaml
Due: prettier

Update logo in sharecard #204
  src/statics/images/reuters-graphics.jpg
Due: none

edts docs for custom embeds, adds embed imports, updates SEO import and share image needed for embed
  docs/content/docs/Developers/11-adding-pages.mdx
Due: none

fix for fetching remote favicon
  astro.config.mjs
Due: none

closes #210
  bin/mods/make-ai-embed/templates/+page.svelte
Due: prettier

closes #212
  .bluprintrc
Due: none

simple test for make-ai-embed
  bin/mods/_utils/locations.ts
  bin/mods/_utils/swap.ts
  bin/mods/export-ai-statics/index.ts
  bin/mods/make-ai-embed/index.test.ts
  bin/mods/make-ai-embed/index.ts
  bin/mods/make-ai-embed/templates/$types.d.ts
  bin/mods/make-ai-embed/templates/+page.svelte
  bin/mods/project-type/index.test.ts
  bin/mods/project-type/index.ts
  bin/mods/rngs-io/index.ts
  bin/mods/rngs-io/templates/$types.d.ts
  bin/mods/rngs-io/templates/tsconfig.json
  package.json
  pnpm-lock.yaml
  svelte.config.js
  test/build.test.ts
  test/utils/twd.ts
  tsconfig.json
Due: eslint, prettier

pre-test run
  bin/mods/make-ai-embed/index.test.ts
Due: none

before test
  bin/mods/make-ai-embed/index.test.ts
  bin/mods/make-ai-embed/index.ts
  bin/mods/project-type/index.test.ts
  bin/mods/project-type/index.ts
  bin/mods/project-type/utils/swap.ts
  bin/mods/rngs-io/index.ts
  test/build.test.ts
Due: none

adds tests for all mods
  bin/mods/project-type/index.test.ts
  bin/mods/rngs-io/index.test.ts
  bin/mods/rngs-io/index.ts
  bin/mods/rngs-io/templates/tsconfig.json
  package.json
Due: none

new mods class. more tests
  bin/mods/_utils/mod/fs.ts
  bin/mods/_utils/mod/index.ts
  bin/mods/_utils/mod/magicFile.test.ts
  bin/mods/_utils/mod/magicFile.ts
  bin/mods/_utils/mod/pkg.ts
  bin/mods/_utils/swap.ts
  bin/mods/make-ai-embed/index.ts
  bin/mods/project-type/index.ts
  bin/mods/rngs-io/index.ts
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: none

Path conditions:
  eslint: any of: *.js
  prettier: any of: *.{js,css,md,svelte}
