Repository reuters-graphics/bluprint_graphics-kit: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: npx eslint --cache --fix {staged_files}

prettier:
  run: npx prettier --write {staged_files}

test lefthook
  src/lib/App.svelte
Due: prettier

test lefthook
  .gitignore
  .lefthook/pre-commit/precheck-file-size.sh
  .lefthook/prepare-commit-msg
  package.json
  src/lib/App.svelte
  yarn.lock
Due: prettier

ready with lefthook
  package.json
  yarn.lock
Due: none

remove husky refs from bluprint
  .bluprintrc
Due: none

remove image from app
  src/lib/App.svelte
Due: prettier

try removing lefthook entirely
  package.json
Due: none

don't autoinstall stackblitz deps
  .stackblitzrc
Due: none

revert that
  .stackblitzrc
Due: none

re-add lefthook
  package.json
Due: none

bump graphics-svelte-components
  package.json
Due: none

added new makeScrollerStepsStatic
  src/utils/dynamicComponents/index.js
Due: eslint, prettier

made new makeScrollerSteps and removed previous one
  src/utils/dynamicComponents/index.js
Due: eslint, prettier

added margin:0 style for embed charts,made sample embed charts in pages/embeds
  .husky/pre-commit
  .husky/prepare-commit-msg
  locales/en/content.json
  pages/embeds/en/map.svelte
  src/lib/styles/global.scss
  yarn.lock
Due: prettier

deleted dummy embed chart component, added notes instead
  pages/embeds/en/map.svelte
  pages/embeds/en/page.svelte
Due: prettier

bump components and use site header/footer
  package.json
  pages/index.svelte
  yarn.lock
Due: prettier

bump style-ai-templates
  package.json
Due: none

add vite alias for static assets
  svelte.config.js
Due: eslint, prettier

Update package.json
  package.json
Due: none

initial in
  .eslintrc.cjs
  bin/svelte-kit/plugins/svelte-kit-pages/index.js
  package.json
  pages/+page.svelte
  pages/embed-previewer/+page.svelte
  pages/embeds/en/page.svelte
  pages/embeds/en/page/+page.svelte
  pages/index.svelte
  src/lib/App.svelte
  src/lib/ai2svelte/ai-chart.svelte
  src/lib/components/ExampleChart/index.svelte
  src/lib/styles/_colors.scss
  src/lib/styles/global.scss
  svelte.config.js
  tsconfig.json
  vite.config.ts
  yarn.lock
Due: eslint, prettier

with updated google docs
  bin/svelte-kit/paths/getPkg.js
  bin/svelte-kit/paths/index.js
  bin/svelte-kit/plugins/svelte-kit-pages/index.js
  locales/en/content.json
  package.json
  pages/+page.svelte
  pages/embed-previewer/+page.svelte
  pages/embeds/en/page/+page.svelte
  src/lib/App.svelte
  src/lib/ai2svelte/ai-chart.svelte
  src/lib/components/ExampleChart/Chart.js
  src/lib/components/ExampleComponent.svelte
  src/lib/styles/_colors.scss
  src/lib/styles/global.scss
  yarn.lock
Due: eslint, prettier

snippets
  .vscode/svelte.scripts.code-snippets
  .vscode/svelte.styles.code-snippets
  bin/svelte-kit/paths/getPkg.js
  bin/svelte-kit/plugins/svelte-kit-pages/index.js
  src/lib/components/ExampleChart/Chart.js
Due: eslint, prettier

various
  bin/svelte-kit/paths/getPkg.js
  package.json
Due: eslint, prettier

cleanup utils
  src/utils/dynamicComponents/index.js
  src/utils/statics/index.js
Due: eslint, prettier

cleanup
  pages/+page.svelte
  src/utils/dynamicComponents/index.js
Due: eslint, prettier

kill dynamic components
  src/utils/dynamicComponents/index.js
Due: eslint, prettier

bump workflow node version
  .github/workflows/sveltekit.yaml
Due: none

fix tests
  test/build.cjs
Due: none

bump sveltekit
  locales/en/content.json
  package.json
  yarn.lock
Due: none

bump sveltekit
  .vscode/svelte.scripts.code-snippets
  package.json
  yarn.lock
Due: none

fix stray env reference
  pages/+page.svelte
Due: prettier

bump graphics-components
  package.json
  yarn.lock
Due: none

bump components
  package.json
  yarn.lock
Due: none

add extra test for canonical metadata
  test/build.cjs
Due: none

couple tests
  test/build.cjs
Due: none

closes #85
  package.json
  src/hooks.ts
  src/template.html
  test/build.cjs
  yarn.lock
Due: none

install lefthook in bluprint
  .bluprintrc
Due: none

simplify bluprint
  .bluprintrc
Due: none

try basic bluprint test
  package.json
  test/bluprint.cjs
  test/build.cjs
  yarn.lock
Due: none

try injecting prompts outside call for #86
  test/bluprint.cjs
Due: none

test mocking user config and injecting prompts for basic commands on #86
  test/bluprint.cjs
Due: none

Path conditions:
  eslint: any of: *.js
  prettier: any of: *.{js,css,md,svelte}
