Repository reuters-graphics/bluprint_graphics-kit: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

lefthook.yml:

pre-commit:
  scripts:
    'precheck-file-size.sh':
      runner: bash
  commands:
    eslint:
      glob: '*.js'
      run: npx eslint --cache --fix {staged_files}
    prettier:
      glob: '*.{js,css,md,svelte}'
      run: npx prettier --write {staged_files}
    addChanged:
      run: git add .

cleanup after test
  test/preview.test.ts
Due: none

changeset
  .changeset/seven-buttons-grow.md
Due: prettier

test
  test/preview.test.ts
Due: none

mess with environment vars..
  test/preview.test.ts
Due: none

remove preview tests
  test/preview.test.ts
Due: none

bumps graphics-bin
  package.json
  pnpm-lock.yaml
Due: none

docs(changeset): Improves S3 upload speed with bump of graphics-bin package.
  .changeset/smart-cars-hide.md
Due: prettier

changeset
  .changeset/smart-cars-hide.md
Due: prettier

Update package.json
  package.json
Due: none

bumps graphics-components
  package.json
Due: none

Update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

bump components, bin and publisher
  package.json
  pnpm-lock.yaml
Due: none

closes #154
  package.json
Due: none

docs(changeset): Fixes build scripts for pnpm > 10
  .changeset/swift-donuts-push.md
Due: prettier

svelte 5 alive
  package.json
  pages/+layout.ts
  pages/+page.svelte
  pages/embeds/en/page/+page.svelte
  pages/embeds/en/referral/+page.svelte
  pnpm-lock.yaml
  src/lib/App.svelte
  src/lib/ai2svelte/ai-chart.svelte
  src/lib/components/ExampleComponent.svelte
  src/lib/components/dev/LogBlock.svelte
  src/statics/data/data.csv
  src/utils/env/index.ts
  src/utils/propValidators/index.ts
  src/utils/truthyString/index.ts
Due: prettier

docs(changeset): Svelte 5 alive! Svelte 5 is now enabled for the graphics kit.
  .changeset/silly-cows-film.md
Due: prettier

changeset
  .changeset/silly-cows-film.md
Due: prettier

bumps publisher
  package.json
  pnpm-lock.yaml
Due: none

docs(changeset): Bump @reuters-graphics/graphics-bin
  .changeset/chatty-rice-shout.md
Due: prettier

changeset
  .changeset/chatty-rice-shout.md
Due: prettier

docs(changeset): Adds prettier-plugin-svelte to devDependencies
  .changeset/tasty-ravens-enjoy.md
  package.json
  pnpm-lock.yaml
Due: prettier

closes #160
  .changeset/tasty-ravens-enjoy.md
Due: prettier

init new docs
  .gitignore
  astro.config.mjs
  docs/assets/hero.png
  docs/assets/logo-dark.svg
  docs/assets/logo-light.svg
  docs/assets/styles.css
  docs/content.config.ts
  docs/content/docs/Clients/getting-started.mdx
  docs/content/docs/Clients/self-hosting.mdx
  docs/content/docs/Clients/translating.mdx
  docs/content/docs/Developers/01-getting-started.mdx
  docs/content/docs/Developers/02-prerequisites.mdx
  docs/content/docs/Developers/03-project-structure.mdx
  docs/content/docs/Developers/04-commands.mdx
  docs/content/docs/Developers/05-styling.mdx
  docs/content/docs/Developers/06-graphics-components.mdx
  docs/content/docs/Developers/07-page-assets.mdx
  docs/content/docs/Developers/08-archieml.mdx
  docs/content/docs/Developers/09-ai-graphics.mdx
  docs/content/docs/Developers/10-adding-pages.mdx
  docs/content/docs/Developers/11-media-embeds.mdx
  docs/content/docs/Developers/13-publishing.mdx
  docs/content/docs/Developers/14-github-actions.mdx
  docs/content/docs/index.mdx
  docs/tsconfig.json
  package.json
  pnpm-lock.yaml
Due: prettier

lots of docs
  docs/assets/hero.png
  docs/components/LinkCardWithIcon.astro
  docs/content/docs/Clients/01-getting-started.mdx
  docs/content/docs/Clients/02-self-hosting.mdx
  docs/content/docs/Clients/03-translating.mdx
  docs/content/docs/Clients/04-precursor-assets.mdx
  docs/content/docs/Developers/01-getting-started.mdx
  docs/content/docs/Developers/02-prerequisites.mdx
  docs/content/docs/Developers/03-project-structure.mdx
  docs/content/docs/Developers/04-commands.mdx
  docs/content/docs/Developers/05-graphics-components.mdx
  docs/content/docs/Developers/05-styling.mdx
  docs/content/docs/Developers/06-archieml.mdx
  docs/content/docs/Developers/06-graphics-components.mdx
  docs/content/docs/Developers/07-mods.mdx
  docs/content/docs/Developers/07-page-assets.mdx
  docs/content/docs/Developers/08-archieml.mdx
  docs/content/docs/Developers/08-styling.mdx
  docs/content/docs/Developers/09-ai-graphics.mdx
  docs/content/docs/Developers/09-page-assets.mdx
  docs/content/docs/Developers/10-adding-pages.mdx
  docs/content/docs/Developers/10-ai-graphics.mdx
  docs/content/docs/Developers/11-adding-pages.mdx
  docs/content/docs/Developers/12-media-embeds.mdx
  docs/content/docs/Developers/13-publishing.mdx
  docs/content/docs/Developers/14-github-actions.mdx
  docs/content/docs/index.mdx
Due: none

docs
  docs/assets/mods.gif
  docs/content/docs/Clients/03-translating.mdx
  docs/content/docs/Developers/01-getting-started.mdx
  docs/content/docs/Developers/01-prerequisites.mdx
  docs/content/docs/Developers/02-getting-started.mdx
  docs/content/docs/Developers/02-prerequisites.mdx
  docs/content/docs/Developers/03-project-structure.mdx
  docs/content/docs/Developers/04-commands.mdx
  docs/content/docs/Developers/06-archieml.mdx
  docs/content/docs/Developers/07-mods.mdx
  docs/content/docs/Developers/08-styling.mdx
  docs/content/docs/Developers/10-ai-graphics.mdx
  docs/content/docs/Developers/11-adding-pages.mdx
  docs/content/docs/Developers/12-media-embeds.mdx
  docs/content/docs/Developers/13-publishing.mdx
  docs/content/docs/Developers/14-github-actions.mdx
  docs/content/docs/index.mdx
Due: none

docs
  .bluprintrc
  .github/workflows/docs.yaml
  docs/content/docs/Clients/02-self-hosting.mdx
  docs/content/docs/Clients/03-translating.mdx
  docs/content/docs/Clients/04-precursor-assets.mdx
  docs/content/docs/Contributing/01-contributing.mdx
  docs/content/docs/Developers/03-project-structure.mdx
  docs/content/docs/Developers/06-archieml.mdx
  docs/content/docs/Developers/10-ai-graphics.mdx
  docs/content/docs/Developers/11-adding-pages.mdx
  docs/content/docs/Developers/13-publishing.mdx
  docs/content/docs/Developers/14-github-actions.mdx
  docs/content/docs/Developers/15-kit-updates.mdx
  docs/content/docs/index.mdx
  package.json
  pnpm-lock.yaml
Due: none

adds version to docs workflow
  .github/workflows/docs.yaml
Due: none

Update 10-ai-graphics.mdx
  docs/content/docs/Developers/10-ai-graphics.mdx
Due: none

updates
  .bluprintrc
  .lefthook/pre-commit/precheck-file-size.js
  .lefthook/pre-commit/precheck-file-size.sh
  .npmrc
  PROJECT_README.md
  README.md
  bin/docs/EMBED.txt
  bin/docs/README.txt
  bin/hooks/precheck-file-size.sh
  bin/mods/_utils/locations.ts
  bin/mods/export-ai-statics/index.ts
  bin/mods/index.ts
  bin/mods/make-ai-embed/index.ts
  bin/mods/make-ai-embed/templates/+page.svelte
  bin/mods/project-type/index.ts
  bin/mods/project-type/templates/page+embed/+page.svelte
  bin/mods/project-type/templates/page+embed/embeds/en/page/+page.svelte
  bin/mods/project-type/templates/page+embed/publisher.config.ts
  bin/mods/project-type/utils/swap.ts
  bin/svelte-kit/paths/getPkg.js
  bin/svelte-kit/paths/index.js
  lefthook.yml
  package.json
  pnpm-lock.yaml
  project-files/ai2html.ait
  project-files/dotcom.ait
  project-files/sharecard.ait
  publisher.config.ts
  svelte.config.js
Due: eslint, prettier

check staged
  .lefthook/pre-commit/precheck-file-size.js
Due: eslint, prettier

staged
  .lefthook/pre-commit/precheck-file-size.js
Due: eslint, prettier

docs
  .bluprintrc
  .github/PULL_REQUEST_TEMPLATE.md
  .npmrc
  .prettierignore
  .vscode/extensions.json
  .vscode/svelte.scripts.code-snippets
  .vscode/svelte.styles.code-snippets
  CONTRIBUTING.md
  README.md
  assetinfo.json
  docs/content/docs/Clients/01-getting-started.mdx
  docs/content/docs/Clients/02-self-hosting.mdx
  docs/content/docs/Clients/03-translating.mdx
  docs/content/docs/Clients/04-precursor-assets.mdx
  docs/content/docs/Contributing/01-contributing.mdx
  docs/content/docs/Developers/01-prerequisites.mdx
  docs/content/docs/Developers/02-getting-started.mdx
  docs/content/docs/Developers/03-project-structure.mdx
  docs/content/docs/Developers/05-graphics-components.mdx
  docs/content/docs/Developers/06-archieml.mdx
  docs/content/docs/Developers/07-mods.mdx
  docs/content/docs/Developers/08-styling.mdx
  docs/content/docs/Developers/09-page-assets.mdx
  docs/content/docs/Developers/10-ai-graphics.mdx
  docs/content/docs/Developers/11-adding-pages.mdx
  docs/content/docs/Developers/12-media-embeds.mdx
  docs/content/docs/Developers/13-publishing.mdx
  docs/content/docs/Developers/14-github-actions.mdx
  docs/content/docs/Developers/15-kit-updates.mdx
  docs/content/docs/index.mdx
  docs/tsconfig.json
  eslint.config.js
  google.json
  locales/en/content.json
  package.json
  rngs-io.json
  src/statics/images/manifest.json
  src/template.html
Due: eslint, prettier

logging
  .lefthook/pre-commit/precheck-file-size.js
Due: eslint, prettier

clean
  CLIENT_README.txt
Due: none

bluprint config
  .bluprintrc
  .vscode/settings.json
  bin/connect-docs/EMBED.txt
  bin/connect-docs/README.txt
  locales/en/content.json
  locales/en/embeds.json
  package.json
  pnpm-lock.yaml
  publisher.config.ts
  rngs-io.json
Due: none

updates text in ai2html.ait
  project-files/ai2html.ait
Due: none

self-hosting docs
  docs/content/docs/Clients/02-self-hosting.mdx
Due: none

docs(changeset): Updates the graphics kit for 2.0.
  .changeset/slimy-suns-think.md
Due: prettier

changeset
  .changeset/slimy-suns-think.md
Due: prettier
