Repository reuters-graphics/bluprint_graphics-kit: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: npx eslint --cache --fix {staged_files}

prettier:
  run: npx prettier --write {staged_files}

don't run yarn start automatically so we can test bluprint in #86
  .bluprintrc
Due: none

one more try #86
  .github/workflows/sveltekit.yaml
  test/bluprint.cjs
Due: none

really last run at #86
  test/bluprint.cjs
Due: none

cleanup. closes #86
  .github/workflows/sveltekit.yaml
  test/bluprint.cjs
Due: none

logging in bluprint
  .bluprintrc
Due: none

cleanup tests
  .github/workflows/sveltekit.yaml
Due: none

bump components
  package.json
Due: none

logging for new lib
  .bluprintrc
Due: none

bump bin and clear out trello cruft
  package.json
  yarn.lock
Due: none

sveltekit@next.456
  package.json
  pages/+layout.js
  svelte.config.js
  yarn.lock
Due: eslint, prettier

Remove last trello action from pub
  package.json
Due: none

test hooks
  lefthook.yml
Due: none

closes #90
  lefthook.yml
Due: none

bump components and add shareImageAlt to doc
  locales/en/content.json
  package.json
  pages/+page.svelte
  pages/embeds/en/page/+page.svelte
  yarn.lock
Due: prettier

adds testing for new twitter metatags
  test/build.cjs
Due: none

Bump publisher + server client
  package.json
Due: none

closes #92
  src/lib/App.svelte
Due: prettier

Lock vite version
  package.json
Due: none

closes #94
  src/lib/ai2svelte/ai-chart.svelte
  yarn.lock
Due: prettier

bumps sveltekit & co
  .vscode/extensions.json
  package.json
  pages/+layout.js
  src/hooks.server.ts
  src/template.html
  svelte.config.js
  yarn.lock
Due: eslint, prettier

bump action deps
  .github/workflows/sveltekit.yaml
Due: none

bump action deps
  .github/publish.yaml
Due: none

Fix analytics include for new graphics URL
  pages/+page.svelte
Due: prettier

bump publisher
  package.json
Due: none

nullish coalesce page hostname
  pages/+page.svelte
Due: prettier

nullish coalesce hostname
  pages/embeds/en/page/+page.svelte
Due: prettier

Fix error message in ai-graphic condition
  src/lib/App.svelte
Due: prettier

Bump publisher and components
  package.json
Due: none

closes #96
  package.json
Due: none

roll on sveltekit 1.0
  package.json
  pages/+layout.js
  svelte.config.js
  yarn.lock
Due: eslint, prettier

closes #98
  pages/+page.svelte
  pages/embeds/en/page/+page.svelte
Due: prettier

Update package.json
  package.json
Due: none

pass locale, content as props
  locales/en/content.json
  pages/+page.svelte
  pages/embeds/en/page/+page.svelte
  src/lib/App.svelte
Due: prettier

fix byline field
  locales/en/content.json
  src/lib/App.svelte
Due: prettier

Path conditions:
  eslint: any of: *.js
  prettier: any of: *.{js,css,md,svelte}
