Repository reuters-graphics/bluprint_graphics-kit: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: npx eslint --cache --fix {staged_files}

prettier:
  run: npx prettier --write {staged_files}

changeset
  .changeset/tame-news-yell.md
Due: prettier

adds workflow to open up a PR when reuters-graphics dependencies are released
  .bluprintrc
  .github/workflows/update-dependencies.yaml
Due: none

chore: update dependencies
  .changeset/update-dependencies-1761327984.md
  package.json
  pnpm-lock.yaml
Due: prettier

adds publish time check to live endpoints
  src/utils/liveEndpoints/index.ts
Due: none

docs(changeset): Adds a last publish time check to live endpoints so the app uses the latest version of the story, either locally synced or published via the live endpoint.
  .changeset/fancy-chicken-sink.md
Due: prettier

bump rngs-io-client and update autolink script
  package.json
  pnpm-lock.yaml
Due: none

docs(changeset): Updates rngs-io-client.
  .changeset/tangy-peas-lie.md
Due: prettier

chore: update dependencies
  .changeset/update-dependencies-1761746654.md
  package.json
  pnpm-lock.yaml
Due: prettier

chore: update dependencies
  .changeset/update-dependencies-1768323004.md
  package.json
  pnpm-lock.yaml
Due: prettier

chore: update dependencies
  .changeset/update-dependencies-1768570846.md
  package.json
  pnpm-lock.yaml
Due: prettier

chore: update dependencies
  .changeset/update-dependencies-1769525856.md
  package.json
  pnpm-lock.yaml
Due: prettier

decode base path config URIs. closes #275
  svelte.config.js
Due: eslint, prettier

docs(changeset): Fixing handling for pages where one of the Reuters slugs contains a space character.
  .changeset/stupid-mammals-reply.md
Due: prettier

chore: update dependencies
  .changeset/update-dependencies-1771232966.md
  package.json
  pnpm-lock.yaml
Due: prettier

update bluprint remove patterns for nested files
  .bluprintrc
Due: none

chore: update dependencies
  .changeset/update-dependencies-1771491567.md
  package.json
  pnpm-lock.yaml
Due: prettier

chore: update dependencies
  .changeset/update-dependencies-1772029897.md
  package.json
  pnpm-lock.yaml
Due: prettier

chore: update dependencies
  .changeset/update-dependencies-1773160443.md
  package.json
  pnpm-lock.yaml
Due: prettier

chore: update dependencies
  .changeset/update-dependencies-1773313201.md
  package.json
  pnpm-lock.yaml
Due: prettier

sets up blog mods, tests
  bin/mods/index.ts
  bin/mods/project-type-blog/index.test.ts
  bin/mods/project-type-blog/index.ts
  bin/mods/project-type-blog/templates/Post/index.svelte
  bin/mods/project-type-blog/templates/pages/+layout.svelte
  bin/mods/project-type-blog/templates/pages/+layout.ts
  bin/mods/project-type-blog/templates/pages/+page.svelte
  bin/mods/project-type-blog/templates/pages/[date]/[slug]/+page.svelte
  bin/mods/project-type-blog/templates/pages/[date]/[slug]/+page.ts
  docs/content/docs/Developers/07-mods.mdx
  package.json
  pnpm-lock.yaml
Due: prettier

adds docs
  bin/mods/project-type-blog/index.test.ts
  bin/mods/project-type-blog/index.ts
  bin/mods/project-type-blog/templates/Post.svelte
  docs/content/docs/Developers/07-mods.mdx
Due: prettier

cleanup
  bin/mods/project-type-blog/templates/pages/+layout.svelte
  bin/mods/project-type-blog/templates/pages/+layout.ts
  bin/mods/project-type-blog/templates/pages/+page.svelte
  bin/mods/project-type-blog/templates/pages/[date]/[slug]/+page.svelte
Due: prettier

adds dummy types
  bin/mods/project-type-blog/templates/pages/$types.d.ts
  bin/mods/project-type-blog/templates/pages/+layout.ts
  bin/mods/project-type-blog/templates/pages/+page.svelte
  bin/mods/project-type-blog/templates/pages/[date]/[slug]/$types.d.ts
  bin/mods/project-type-blog/templates/pages/[date]/[slug]/+page.svelte
Due: prettier

adds post type
  bin/mods/project-type-blog/templates/pages/+layout.ts
Due: none

edits rngs.io doc template ids
  bin/mods/project-type-blog/index.ts
  bin/mods/project-type-blog/templates/pages/[date]/[slug]/+page.svelte
  docs/content/docs/Developers/07-mods.mdx
Due: prettier

edits docs
  docs/content/docs/Developers/07-mods.mdx
Due: none

adds test fixes
  bin/mods/project-type-blog/index.test.ts
  docs/content/docs/Developers/07-mods.mdx
  tsconfig.json
Due: none

adds notes on main page vs post 1
  docs/content/docs/Developers/07-mods.mdx
Due: none

typo fix
  docs/content/docs/Developers/07-mods.mdx
Due: none

Set kit paths to absolute
  svelte.config.js
Due: eslint, prettier

docs(changeset): Sets SvelteKit paths to absolute
  .changeset/tame-comics-cover.md
Due: prettier

adds note
  docs/content/docs/Developers/07-mods.mdx
Due: none

docs(changeset): Adds mod for converting project to blog format
  .changeset/fluffy-ducks-see.md
Due: prettier

changelot
  CHANGELOG.md
Due: prettier

chore: update dependencies
  .changeset/update-dependencies-1775751294.md
  package.json
  pnpm-lock.yaml
Due: prettier

adds translation docs
  docs/content/docs/Developers/12-translations.mdx
  docs/content/docs/Developers/13-media-embeds.mdx
  docs/content/docs/Developers/15-kit-updates.mdx
  docs/content/docs/Developers/16-publishing.mdx
  src/lib/App.svelte
Due: prettier

deletes TOC
  docs/content/docs/Developers/12-translations.mdx
Due: none

chore: update dependencies
  .changeset/update-dependencies-1776194392.md
  package.json
  pnpm-lock.yaml
Due: prettier

edit to LanguageButton
  docs/content/docs/Developers/12-translations.mdx
Due: none

typo edits
  docs/content/docs/Developers/12-translations.mdx
Due: none

Path conditions:
  eslint: any of: *.js
  prettier: any of: *.{js,css,md,svelte}
