Repository reuters-graphics/bluprint_graphics-kit: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

lefthook.yml:

pre-commit:
  scripts:
    'precheck-file-size.sh':
      runner: bash
  commands:
    eslint:
      glob: '*.js'
      run: npx eslint --cache --fix {staged_files}
    prettier:
      glob: '*.{js,css,md,svelte}'
      run: npx prettier --write {staged_files}
    addChanged:
      run: git add .

Update .gitignore
  .gitignore
Due: none

updates components to 3.0, vite-plugin-purge-styles to 0.0.3
  package.json
  pnpm-lock.yaml
Due: none

docs(changeset): Updates graphics-components to 3.0, vite-plugin-purge-styles to 0.0.3
  .changeset/old-hats-remain.md
Due: prettier

gets rid of all markdown handling
  package.json
  src/utils/liveEndpoints/index.ts
Due: none

deletes preview url
  package.json
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier

fix headline content passed into props to match docs
  locales/en/content.json
  src/lib/App.svelte
Due: prettier

closes #177
  bin/mods/_utils/mod/magicFile.ts
  package.json
  pnpm-lock.yaml
Due: none

bump components
  package.json
  pnpm-lock.yaml
Due: none

embed-previewer add Theme and SCSS stylesheet
  pages/embed-previewer/+page.svelte
Due: prettier

updates code owners
  .github/CODEOWNERS
Due: none

closes #226
  src/template.html
Due: none

adds global types for aliased libs. Adds svelte-check step to test workflow
  .github/workflows/test.yaml
  package.json
  pages/embed-previewer/+page.svelte
  pnpm-lock.yaml
  src/global.d.ts
  tsconfig.json
Due: prettier

adds llms.txt docs for svelte, svelte-kit and graphics-components, which are all referenced from copilot-instructions.md
  .github/copilot-instructions.md
  bin/llms/graphics-components/llms.txt
  bin/llms/svelte-kit/llms-small.txt
  bin/llms/svelte/llms-small.txt
Due: prettier

docs(changeset): Adds llms.txt documents and copilot instructions.
  .changeset/tough-queens-leave.md
Due: prettier

changeset
  .changeset/tough-queens-leave.md
Due: prettier

a start
  bin/llms/graphics-components/llms.txt
Due: none

llms-styles
  CHANGELOG.md
  bin/llms/graphics-components/llms.txt
Due: prettier

bump publisher
  package.json
  pnpm-lock.yaml
Due: none

Updates components to 3.0.3
  package.json
  pnpm-lock.yaml
Due: none

Update eslint.config.js
  eslint.config.js
Due: eslint, prettier

attempt to sync with github on preview pub
  package.json
Due: none

docs(changeset): Adds an automatic git commit when publishing a preview of a project, per #238.
  .changeset/new-taxis-pump.md
Due: prettier

Updates components to 3.0.8
  package.json
  pnpm-lock.yaml
Due: none

updates components to 3.0.9, adds textWidth to Graphicblock
  package.json
  pnpm-lock.yaml
  src/lib/App.svelte
Due: prettier

updates components to 3.0.10
  package.json
  pnpm-lock.yaml
Due: none

Uploaded at Wed Jul 23 2025 10:26:13 GMT-0400 (Eastern Daylight Time)
  package.json
  pnpm-lock.yaml
Due: none

updates svelte, svelte-check, prettifier-plugin-svelte depe ndencies
  package.json
Due: none

docs(changeset): Updates svelte, svelte-check, prettifier-plugin-svelte dependencies
  .changeset/heavy-singers-smile.md
Due: prettier

updates components lib
  package.json
  pnpm-lock.yaml
Due: none

updates components to 3.0.14
  package.json
  pnpm-lock.yaml
Due: none

Uploaded at Thu Aug 07 2025 10:56:29 GMT-0400 (Eastern Daylight Time)
  package.json
Due: none

updates package.json
  package.json
Due: none

closes Modifications for the kit for Arc SREPs compatibility Fixes #253
  bin/mods/make-ai-embed/templates/+page.svelte
Due: prettier

docs(changeset): Updates the embeds page template for better compatibility with Arc CMS
  .changeset/new-kangaroos-camp.md
Due: prettier

fix: Clean up code formatting and ensure consistent newline usage across multiple files
  bin/mods/make-ai-embed/templates/$types.d.ts
  bin/mods/rngs-io/templates/$types.d.ts
  locales/en/content.json
  locales/en/embeds.json
  package.json
  rngs-io.json
  src/template.html
  src/utils/liveEndpoints/index.ts
  tsconfig.json
Due: none

update layout
  bin/mods/make-ai-embed/templates/+page.svelte
Due: prettier

docs(changeset): Updates graphics-components for new GDPR analytics scripts
  .changeset/forty-badgers-shake.md
  package.json
  pnpm-lock.yaml
Due: prettier

bumps publisher and components
  package.json
  pnpm-lock.yaml
Due: none

docs(changeset): Bumps publisher for new LSEG embed manifests and SRI integrity attributes. Components with GDPR compliant Google Analytics.
  .changeset/tame-news-yell.md
Due: prettier
