Repository reuters-graphics/bluprint_graphics-kit: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: npx eslint --cache --fix {staged_files}

prettier:
  run: npx prettier --write {staged_files}

fixes #100
  pages/embeds/en/page/+page.svelte
Due: prettier

migrates analytics
  package.json
  pages/+page.svelte
  pages/embeds/en/page/+page.svelte
  yarn.lock
Due: prettier

Bump components
  package.json
Due: none

bumps node version
  .github/workflows/sveltekit.yaml
  package.json
Due: none

Update +page.svelte
  pages/embeds/en/page/+page.svelte
Due: prettier

prettier plugine for svelte
  .eslintrc.cjs
  .prettierrc
  locales/en/content.json
  package.json
  pages/+page.svelte
  pages/embeds/en/page/+page.svelte
  src/lib/App.svelte
  src/lib/styles/_colors.scss
  src/lib/styles/global.scss
  vite.config.ts
  yarn.lock
Due: prettier

svelte-fa bump
  package.json
  yarn.lock
Due: none

snippets
  .vscode/d3.code-snippets
  .vscode/svelte.styles.code-snippets
Due: none

fix examples for new scss. change id for graphics blocks
  src/lib/App.svelte
  src/lib/components/ExampleChart/index.svelte
  src/lib/components/ExampleComponent.svelte
Due: prettier

some default style samples
  src/lib/components/ExampleChart/Chart.js
  src/lib/components/ExampleChart/index.svelte
  src/lib/components/ExampleComponent.svelte
Due: eslint, prettier

closes #104
  src/template.html
Due: none

revert inline font-face for now
  src/template.html
Due: none

bump components
  package.json
Due: none

bump components
  yarn.lock
Due: none

fix non-relative imports in tsconfig
  tsconfig.json
Due: none

bump components
  package.json
  yarn.lock
Due: none

bump graphics-kit-publisher
  package.json
Due: none

bump graphics-kit-publisher
  yarn.lock
Due: none

Bump ai-templates
  package.json
Due: none

Update package.json - bump graphics-kit-publisher
  package.json
Due: none

Update README.md
  README.md
Due: prettier

closes #109
  pages/+page.svelte
Due: prettier

add test build on PR #112
  .github/workflows/sveltekit.yaml
  .vscode/settings.json
Due: none

should fix #111
  pages/+page.svelte
Due: prettier

fix condition syntax
  .github/workflows/sveltekit.yaml
Due: none

change PR trigger to open
  .github/workflows/sveltekit.yaml
Due: none

closes Build error on commit #115
  pages/+page.svelte
Due: prettier

Refactor conditional rendering in +page.svelte
  pages/+page.svelte
Due: prettier

bump components, drop sharer
  package.json
  pages/+page.svelte
  yarn.lock
Due: prettier

Bump publisher
  package.json
Due: none

adds referral embed and default language for both embeds
  package.json
  pages/embeds/en/referral/+page.svelte
Due: prettier

embed metadata
  package.json
Due: none

trim text on tests
  test/build.cjs
Due: none

bump deps
  package.json
  yarn.lock
Due: none

bump components and bin
  package.json
  yarn.lock
Due: none

adds back bluprint
  package.json
  yarn.lock
Due: none

bump components
  package.json
  pages/+page.svelte
  pages/embeds/en/page/+page.svelte
  pages/embeds/en/referral/+page.svelte
  yarn.lock
Due: prettier

Path conditions:
  eslint: any of: *.js
  prettier: any of: *.{js,css,md,svelte}
