Repository reuters-graphics/bluprint_graphics-kit: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: npx eslint --cache --fix {staged_files}

prettier:
  run: npx prettier --write {staged_files}

test build
  .bluprintrc
Due: none

tweak fixes
  .bluprintrc
Due: none

adds changeset
  .bluprintrc
Due: none

chore: bump SvelteKit to 2.26.0
  package.json
Due: none

chore: update vscode snippets
  .vscode/svelte.scripts.code-snippets
Due: none

fix: replaces assets with asset and base with resolve
  bin/llms/graphics-components/llms.txt
  bin/llms/svelte-kit/llms-small.txt
  bin/mods/make-ai-embed/templates/+page.svelte
  bin/mods/project-type/templates/embed-only/+page.svelte
  docs/content/docs/Developers/09-page-assets.mdx
  docs/content/docs/Developers/11-adding-pages.mdx
  pages/+page.svelte
  pages/embed-previewer/+page.svelte
  pages/embeds/en/page/+page.svelte
  src/lib/App.svelte
Due: prettier

fix
  pages/embeds/en/page/+page.svelte
  yarn.lock
Due: prettier

build
  bin/llms/graphics-components/llms.txt
  bin/mods/make-ai-embed/templates/+page.svelte
  pages/+page.svelte
Due: prettier

docs(changeset): Bumps SvelteKit to ^2.26.0 and replaces assets → asset, base → resolve
  .changeset/strict-moles-beg.md
  CHANGELOG.md
Due: prettier

chore: update dependencies
  .changeset/update-dependencies-1778675734.md
  package.json
  pnpm-lock.yaml
Due: prettier

chore: update dependencies
  .changeset/update-dependencies-1778677070.md
  package.json
  pnpm-lock.yaml
Due: prettier

Add specific id as per https://github.com/reuters-graphics/graphics-components/issues/420
  src/template.html
Due: none

chore: update dependencies
  .changeset/update-dependencies-1781115685.md
  package.json
  pnpm-lock.yaml
Due: prettier

chore: update dependencies
  .changeset/update-dependencies-1781267473.md
  package.json
  pnpm-lock.yaml
Due: prettier

Update package.json
  package.json
Due: none

runs pnpm install
  pnpm-lock.yaml
Due: none

chore: update dependencies
  .changeset/update-dependencies-1781701923.md
  package.json
  pnpm-lock.yaml
Due: prettier

add CLAUDE.md and PROJECT_CLAUDE.md for agent context
  .bluprintrc
  CLAUDE.md
  PROJECT_CLAUDE.md
Due: prettier

add .claude/ agent context and llms docs
  .claude/context/content.md
  .claude/llms/archieml/docs.md
  .claude/llms/svelte-kit/docs.md
  .claude/llms/svelte/docs.md
  PROJECT_CLAUDE.md
Due: prettier

add sync-llms script and llms frontmatter
  .bluprintrc
  .claude/llms/archieml/docs.md
  .claude/llms/svelte-kit/docs.md
  .claude/llms/svelte/docs.md
  PROJECT_CLAUDE.md
  bin/sync-llms/index.js
  package.json
Due: eslint, prettier

remove stale llms and copilot agent docs
  .github/copilot-instructions.md
  bin/llms/graphics-components/llms.txt
Due: prettier

add .claude/context/ docs for key project conventions
  .claude/context/assets.md
  .claude/context/glossary.md
  .claude/context/publishing.md
  .claude/context/routing.md
  .claude/context/styling.md
  .claude/context/translations.md
  PROJECT_CLAUDE.md
Due: prettier

initial skill and eval utils
  .claude/skills/.env.example
  .claude/skills/hello-skill/SKILL.md
  .claude/skills/hello-skill/evals/hello-skill.eval.ts
  .claude/skills/utils/runner.ts
  .claude/skills/utils/worktree.ts
  .claude/skills/vitest.config.ts
  package.json
  vite.config.ts
Due: prettier

skill
  .claude/skills/hello-skill/SKILL.md
  .claude/skills/utils/runner.ts
Due: prettier

skill
  .claude/skills/hello-skill/SKILL.md
Due: prettier

switch skill runner to @anthropic-ai/claude-agent-sdk
  .claude/skills/utils/runner.ts
  package.json
  pnpm-lock.yaml
Due: none

fix hello-skill and eval async/frontmatter issues
  .claude/skills/hello-skill/SKILL.md
  .claude/skills/hello-skill/evals/hello-skill.eval.ts
Due: prettier

write-skill
  .claude/skills/_utils/runner.ts
  .claude/skills/_utils/worktree.ts
  .claude/skills/hello-skill/evals/hello-skill.eval.ts
  .claude/skills/write-skill/SKILL.md
  .claude/skills/write-skill/evals/write-skill.eval.ts
Due: prettier

fix write-skill guard ordering and runner Write permissions
  .claude/skills/_utils/runner.ts
  .claude/skills/write-skill/SKILL.md
  .claude/skills/write-skill/evals/write-skill.eval.ts
Due: prettier

add claude code docs page and write-skill docs step
  .claude/skills/write-skill/SKILL.md
  docs/content/docs/Developers/17-claude-code.mdx
Due: prettier

Add v1 bluprint.config.ts (coexists with .bluprintrc)
  .bluprintrc
  bluprint.config.ts
  package.json
  pnpm-lock.yaml
Due: none

drop devDependencies in bluprint
  bluprint.config.ts
Due: none

docs(changeset): Updates bluprint config for v1.0.0.
  .changeset/curvy-laws-attend.md
Due: prettier

bluprint config
  bluprint.config.ts
Due: none

Path conditions:
  eslint: any of: *.js
  prettier: any of: *.{js,css,md,svelte}
