Repository reuters-graphics/bluprint_graphics-kit: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: npx eslint --cache --fix {staged_files}

prettier:
  run: npx prettier --write {staged_files}

bump node dep
  .github/workflows/sveltekit.yaml
  package.json
Due: none

bump action deps
  .github/workflows/sveltekit.yaml
Due: none

workflows
  .bluprintrc
  .github/publish.yaml
  .github/workflows/release.yaml
  .github/workflows/sveltekit.yaml
  .vscode/svelte.styles.code-snippets
  pages/embed-previewer/+page.svelte
  src/template.html
Due: prettier

docs(changeset): RNGS.io defaults
  .changeset/README.md
  .changeset/config.json
  .changeset/sour-bobcats-chew.md
  package.json
  pnpm-lock.yaml
Due: prettier

fat changeset
  .bluprintrc
  .changeset/sour-bobcats-chew.md
Due: prettier

adds pnpm version to workflows. closes #124
  .github/publish.yaml
  .github/workflows/release.yaml
  .github/workflows/sveltekit.yaml
Due: none

test workflow
  .bluprintrc
  .github/workflows/test.yaml
Due: none

fix up dependencies and tests
  package.json
  pnpm-lock.yaml
  src/utils/env/index.ts
Due: none

renames project
  .bluprintrc
  .changeset/sour-bobcats-chew.md
  package.json
Due: prettier

some docs
  CONTRIBUTING.md
  PROJECT_README.md
Due: prettier

page title from template
  locales/en/content.json
  test/build.test.ts
Due: none

whoops
  test/build.test.ts
Due: none

changelog
  .changeset/sour-bobcats-chew.md
Due: prettier

fix bluprint replace action
  .bluprintrc
Due: none

docs(changeset): Updates sass API to use the modern compiler.
  .changeset/eight-weeks-sit.md
  svelte.config.js
  vite.config.ts
Due: eslint, prettier

updates changelog
  CHANGELOG.md
Due: prettier

adds liveEndpoints handling, bumps node version requirement to 20+.
  CHANGELOG.md
  package.json
  pages/+layout.ts
  pages/+page.svelte
  src/utils/liveEndpoints/index.ts
Due: prettier

docs(changeset): Adds live endpoints handler class. Updates minimum Node version to 20.
  .changeset/great-carpets-look.md
Due: prettier

test across node 20 and 22
  .github/workflows/test.yaml
Due: none

initial
  package.json
  pnpm-lock.yaml
  test/bluprint.test.ts
  vite.config.ts.timestamp-1732633659455-650ff012dd191.mjs
Due: none

initial
  test/bluprint.test.ts
  vite.config.ts.timestamp-1732633659455-650ff012dd191.mjs
Due: none

remove bluprint test and update deps
  package.json
  pnpm-lock.yaml
  test/bluprint.d.ts
  test/bluprint.test.ts
Due: none

adds ads
  pages/+page.svelte
Due: prettier

bump publisher and bin
  package.json
  pnpm-lock.yaml
Due: none

add info blocks for ads
  pages/+page.svelte
  src/lib/App.svelte
  src/lib/components/dev/LogBlock.svelte
  src/lib/components/dev/WarnBlock.svelte
  src/utils/env/index.ts
Due: prettier

docs(changeset): Adds LogBlock component for printing warnings and info messages on a page in development and placeholders for ads in dev.
  .changeset/large-rocks-cheer.md
Due: prettier

changeset
  .changeset/large-rocks-cheer.md
Due: prettier

bump components
  package.json
  pnpm-lock.yaml
Due: none

bump rngs-io-client
  package.json
  pnpm-lock.yaml
Due: none

docs(changeset): Bumps rngs-io-client
  .changeset/sharp-icons-rush.md
Due: prettier

changeset
  .changeset/sharp-icons-rush.md
Due: prettier

bumps graphics-bin and graphics-kit-publisher
  package.json
  pnpm-lock.yaml
Due: none

docs(changeset): Bumps graphics-bin and graphics-kit-publisher
  .changeset/seven-buttons-grow.md
Due: prettier

changeset
  .changeset/seven-buttons-grow.md
Due: prettier

adds preview test
  test/preview.test.ts
Due: none

preview tests
  .github/workflows/test.yaml
Due: none

don't autolink in test
  test/preview.test.ts
Due: none

Path conditions:
  eslint: any of: *.js
  prettier: any of: *.{js,css,md,svelte}
