Repository reuters-graphics/bluprint_graphics-kit: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: npx eslint --cache --fix {staged_files}

prettier:
  run: npx prettier --write {staged_files}

add llms to new bluprint config
  bluprint.config.ts
Due: none

docs(changeset): Adds LLM docs and dependency LLM docs extractor.
  .changeset/clear-coats-mate.md
Due: prettier

update graphics-components
  package.json
  pnpm-lock.yaml
Due: none

bluprint order
  bluprint.config.ts
Due: none

bluprint config stuffs
  bluprint.config.ts
Due: none

Updates to multiple llm docs context files
  .claude/context/content.md
  .claude/context/publishing.md
  .claude/context/translations.md
Due: prettier

Updates to multiple llm docs context files
  CLAUDE.md
Due: prettier

chore: update workflow deps and bump min Node to 22
  .changeset/update-workflow-deps.md
  .github/publish.yaml
  .github/workflows/docs.yaml
  .github/workflows/release.yaml
  .github/workflows/test.yaml
  .github/workflows/update-dependencies.yaml
  package.json
Due: prettier

feat: set up gfx working branch for scaffolded projects
  .changeset/gfx-branch-workflow.md
  .claude/context/git-workflow.md
  CLAUDE.md
  PROJECT_CLAUDE.md
  bluprint.config.ts
Due: prettier

chore: move build-script allowlist to pnpm-workspace.yaml for pnpm 10/11
  .changeset/pnpm-v11-build-config.md
  .github/publish.yaml
  .github/workflows/docs.yaml
  .github/workflows/release.yaml
  .github/workflows/test.yaml
  .github/workflows/update-dependencies.yaml
  package.json
  pnpm-workspace.yaml
Due: prettier

chore: exempt @reuters-graphics/* from pnpm 11 minimum release age
  pnpm-workspace.yaml
Due: none

chore: update dependencies
  .changeset/update-dependencies-1783433190.md
  package.json
  pnpm-lock.yaml
Due: prettier

bumps graphics-kit-publisher and adds to llm extraction
  bin/sync-llms/index.js
  package.json
  pnpm-lock.yaml
Due: eslint, prettier

fail on pnpm install error. Silence a few other exec actions
  bluprint.config.ts
Due: none

refactor(mods): guarantee staging cleanup + sweep orphans
  bin/mods/_core/plan.test.ts
  bin/mods/_core/plan.ts
Due: none

refactor(mods): make copy `replace` an ordered array with regexp support
  bin/mods/_core/plan.test.ts
  bin/mods/_core/plan.ts
  bin/mods/mods/make-ai-embed/index.ts
Due: none

refactor(mods): mirror project structure in templates + drift guard
  .claude/settings.json
  bin/mods/_core/template.ts
  bin/mods/mods/make-ai-embed/index.ts
  bin/mods/mods/make-ai-embed/templates/pages/embeds/[locale]/[slug]/$types.d.ts
  bin/mods/mods/make-ai-embed/templates/pages/embeds/[locale]/[slug]/+page.server.ts
  bin/mods/mods/make-ai-embed/templates/pages/embeds/[locale]/[slug]/+page.svelte
  bin/mods/mods/project-type/drift.test.ts
  bin/mods/mods/project-type/index.ts
  bin/mods/mods/project-type/templates/embed-only/pages/+page.svelte
  bin/mods/mods/project-type/templates/pages-plus/pages/$types.d.ts
  bin/mods/mods/project-type/templates/pages-plus/pages/+page.svelte
  bin/mods/mods/project-type/templates/pages-plus/pages/embeds/en/page/+page.svelte
  bin/mods/mods/unconfig-rngs-io/index.ts
  bin/mods/mods/unconfig-rngs-io/templates/pages/$types.d.ts
  bin/mods/mods/unconfig-rngs-io/templates/pages/+layout.ts
Due: prettier

chore(mods): expand changeset, remove temp status doc
  .changeset/mods-redesign.md
  MODS_REDESIGN_STATUS.md
Due: prettier

chore: update dependencies
  .changeset/update-dependencies-1783518126.md
  package.json
  pnpm-lock.yaml
Due: prettier

feat(mods): add make-blog mod + base slugify util
  .changeset/make-blog-mod.md
  .claude/settings.json
  bin/mods/_core/markers.ts
  bin/mods/mods/make-blog/PLAN.md
  bin/mods/mods/make-blog/index.test.ts
  bin/mods/mods/make-blog/index.ts
  bin/mods/mods/make-blog/templates/_mocks.d.ts
  bin/mods/mods/make-blog/templates/pages/$types.d.ts
  bin/mods/mods/make-blog/templates/pages/+layout.svelte
  bin/mods/mods/make-blog/templates/pages/+layout.ts
  bin/mods/mods/make-blog/templates/pages/+page.svelte
  bin/mods/mods/make-blog/templates/pages/[date]/[slug]/$types.d.ts
  bin/mods/mods/make-blog/templates/pages/[date]/[slug]/+page.svelte
  bin/mods/mods/make-blog/templates/pages/[date]/[slug]/+page.ts
  bin/mods/mods/make-blog/templates/src/lib/Post.svelte
  bin/mods/mods/make-blog/templates/src/lib/post.ts
  bin/mods/mods/project-type/index.ts
  bin/mods/registry.ts
  bluprint.config.ts
  package.json
  pnpm-lock.yaml
  src/utils/slugify/index.ts
  test/utils/modContext.ts
Due: prettier

chore(mods): nested eslint config to allow `any` in mod templates
  .claude/settings.json
  bin/mods/eslint.config.js
  bin/mods/mods/make-ai-embed/templates/pages/embeds/[locale]/[slug]/$types.d.ts
  bin/mods/mods/make-blog/templates/pages/$types.d.ts
  bin/mods/mods/make-blog/templates/pages/[date]/[slug]/$types.d.ts
  bin/mods/mods/project-type/templates/pages-plus/pages/$types.d.ts
  bin/mods/mods/unconfig-rngs-io/templates/pages/$types.d.ts
  eslint.config.js
Due: eslint, prettier

style: wrap vitest exclude array (prettier)
  vite.config.ts
Due: none

feat(mods): ship placeholder content stubs for make-blog
  .claude/settings.json
  bin/mods/mods/make-blog/PLAN.md
  bin/mods/mods/make-blog/index.test.ts
  bin/mods/mods/make-blog/index.ts
  bin/mods/mods/make-blog/templates/locales/en/content.json
  bin/mods/mods/make-blog/templates/locales/en/post-1.json
Due: prettier

chore(mods): align make-blog content stubs with RNGS.io initial pull
  bin/mods/mods/make-blog/index.test.ts
  bin/mods/mods/make-blog/templates/locales/en/content.json
  bin/mods/mods/make-blog/templates/locales/en/post-1.json
Due: none

refactor(mods): make-blog uses +layout.server.ts for post collection
  bin/mods/mods/make-blog/PLAN.md
  bin/mods/mods/make-blog/index.test.ts
  bin/mods/mods/make-blog/index.ts
  bin/mods/mods/make-blog/templates/pages/$types.d.ts
  bin/mods/mods/make-blog/templates/pages/+layout.server.ts
Due: prettier

refactor(mods): make-blog permalink uses +page.server.ts
  .claude/settings.json
  bin/mods/mods/make-blog/PLAN.md
  bin/mods/mods/make-blog/index.test.ts
  bin/mods/mods/make-blog/index.ts
  bin/mods/mods/make-blog/templates/pages/[date]/[slug]/$types.d.ts
  bin/mods/mods/make-blog/templates/pages/[date]/[slug]/+page.server.ts
Due: prettier

feat(mods): guard Phase B against the shared templates storyboard
  bin/mods/mods/make-blog/PLAN.md
  bin/mods/mods/make-blog/index.test.ts
  bin/mods/mods/make-blog/index.ts
Due: prettier

docs: expand the mods page, add make-blog, drop the stale gif
  docs/assets/mods.gif
  docs/content/docs/Developers/07-mods.mdx
Due: none

chore(mods): remove make-blog PLAN.md working doc
  bin/mods/mods/make-blog/PLAN.md
Due: prettier

chore: untrack .claude/settings.json (keep Claude settings local)
  .changeset/untrack-claude-settings.md
  .claude/settings.json
  .gitignore
Due: prettier

fix(paths): migrate $app/paths usage to asset()/resolve()
  .changeset/update-sveltekit-paths.md
  .claude/context/assets.md
  .claude/context/content.md
  .claude/llms/svelte-kit/docs.md
  .vscode/svelte.scripts.code-snippets
  bin/mods/mods/make-ai-embed/templates/pages/embeds/[locale]/[slug]/+page.svelte
  bin/mods/mods/project-type/templates/embed-only/pages/+page.svelte
  bin/mods/mods/project-type/templates/pages-plus/pages/+page.svelte
  bin/mods/mods/project-type/templates/pages-plus/pages/embeds/en/page/+page.svelte
  docs/content/docs/Developers/09-page-assets.mdx
  docs/content/docs/Developers/11-adding-pages.mdx
  pages/+page.svelte
  pages/embed-previewer/+page.svelte
  pages/embeds/en/page/+page.svelte
  src/lib/App.svelte
Due: prettier

chore: update svelte/vite/kit deps and finish asset()/resolve() migration
  .changeset/bump-graphics-components.md
  .changeset/update-svelte-vite-deps.md
  bin/mods/mods/make-ai-embed/templates/pages/embeds/[locale]/[slug]/+page.svelte
  docs/content/docs/Developers/11-adding-pages.mdx
  package.json
  pages/embed-previewer/+page.svelte
  pnpm-lock.yaml
  src/lib/App.svelte
  vite.config.ts
Due: prettier

chore: bump remaining svelte-related deps, consolidate changesets
  .changeset/bump-graphics-components.md
  .changeset/update-svelte-vite-deps.md
  .changeset/update-sveltekit-paths.md
  package.json
  pnpm-lock.yaml
Due: prettier

chore: fix CSS build target, bump purge-styles, migrate make-blog mod to asset()/resolve()
  .changeset/update-svelte-vite-deps.md
  bin/mods/mods/make-blog/templates/pages/+page.svelte
  bin/mods/mods/make-blog/templates/pages/[date]/[slug]/+page.svelte
  bin/mods/mods/make-blog/templates/src/lib/Post.svelte
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: prettier

chore: bump remaining deps, migrate make-ai-embed/project-type mods to asset()
  bin/mods/mods/make-ai-embed/templates/pages/embeds/[locale]/[slug]/+page.svelte
  bin/mods/mods/make-blog/templates/locales/en/post-1.json
  bin/mods/mods/make-blog/templates/pages/+page.svelte
  bin/mods/mods/make-blog/templates/pages/[date]/[slug]/+page.svelte
  bin/mods/mods/project-type/templates/embed-only/pages/+page.svelte
  bin/mods/mods/project-type/templates/pages-plus/pages/+page.svelte
  bin/mods/mods/project-type/templates/pages-plus/pages/embeds/en/page/+page.svelte
  package.json
  pages/+page.svelte
  pages/embeds/en/page/+page.svelte
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/global.d.ts
Due: prettier

fix: use dedicated __BASE_URL__ constant for SEO baseUrl instead of asset('/')
  .changeset/seo-base-url-constant.md
  bin/mods/mods/make-ai-embed/templates/pages/embeds/[locale]/[slug]/+page.svelte
  bin/mods/mods/make-blog/templates/pages/+page.svelte
  bin/mods/mods/make-blog/templates/pages/[date]/[slug]/+page.svelte
  bin/mods/mods/project-type/templates/embed-only/pages/+page.svelte
  bin/mods/mods/project-type/templates/pages-plus/pages/+page.svelte
  bin/mods/mods/project-type/templates/pages-plus/pages/embeds/en/page/+page.svelte
  eslint.config.js
  pages/+page.svelte
  pages/embeds/en/page/+page.svelte
  src/global.d.ts
  svelte.config.d.ts
  svelte.config.js
  vite.config.ts
Due: eslint, prettier

cleanup changeset
  .changeset/seo-base-url-constant.md
  .changeset/update-svelte-vite-deps.md
Due: prettier

feat: expose __BASE_URL__ global for SEO baseUrl
  .changeset/seo-base-url.md
  bin/mods/mods/make-ai-embed/templates/pages/embeds/[locale]/[slug]/+page.svelte
  bin/mods/mods/make-blog/templates/pages/+page.svelte
  bin/mods/mods/make-blog/templates/pages/[date]/[slug]/+page.svelte
  bin/mods/mods/project-type/templates/embed-only/pages/+page.svelte
  bin/mods/mods/project-type/templates/pages-plus/pages/+page.svelte
  bin/mods/mods/project-type/templates/pages-plus/pages/embeds/en/page/+page.svelte
  docs/content/docs/Developers/11-adding-pages.mdx
  eslint.config.js
  pages/+page.svelte
  pages/embeds/en/page/+page.svelte
  src/global.d.ts
  vite.config.ts
Due: eslint, prettier

Path conditions:
  eslint: any of: *.js
  prettier: any of: *.{js,css,md,svelte}
